linea_costa_produccion_*.*
windows-import-linea_costa.ps1
00-config.sql
*.cpg
*.dbf
*.shp
*.shx
*.prj
!projection_template.prj
*.pyc
linux-export-shapes_linea_costa.py
*.7z
linea_costa-vista.mdb
40-ArcGIS_Client_AddIn/ArcGISSSLAddIn/bin/
40-ArcGIS_Client_AddIn/ArcGISSSLAddIn/obj/
*.ps1
40-ArcGIS_Client_AddIn/SslInterfaceAddIn/bin
40-ArcGIS_Client_AddIn/SslInterfaceAddIn/obj
