#!/usr/bin/python2.7

import shapebulkexporter, os

sp = shapebulkexporter.ShapeBulkExporter('/usr/local/bin/ogr2ogr')
sp.addPgConnection('ssl', 'localhost', 'ssl', '5432', 'ssl', 'ssl')

shapeFolder = 'shapes_linea_costa'
epsg = 23030
encoding = 'ISO-8859-1'
path7z = '/usr/bin/7z'

shapefiles = [
	['linea_costa.expshp__complete_described', 'linea_costa_complete_described', 'ARC'], \
	['linea_costa.expshp__linea_costa_acantilados', 'linea_costa_acantilados', 'ARC'], \
	['linea_costa.expshp__linea_costa_criterios', 'linea_costa_criterios', 'ARC'], \
	['linea_costa.expshp__linea_costa_dunas', 'linea_costa_dunas', 'ARC'], \
	['linea_costa.expshp__linea_costa_fechas', 'linea_costa_fechas', 'ARC'], \
	['linea_costa.expshp__linea_costa_infraestructuras', 'linea_costa_infraestructuras', 'ARC'], \
	['linea_costa.expshp__linea_costa_margenes_estuarios_canyos', 'linea_costa_margenes_estuarios_canyos', 'ARC'], \
	['linea_costa.expshp__linea_costa_nivel_1', 'linea_costa_nivel_1', 'ARC'], \
	['linea_costa.expshp__linea_costa_nivel_2', 'linea_costa_nivel_2', 'ARC'], \
	['linea_costa.expshp__linea_costa_nivel_3', 'linea_costa_nivel_3', 'ARC'], \
	['linea_costa.expshp__linea_costa_playas', 'linea_costa_playas', 'ARC'], \
	['linea_costa.expshp__linea_costa_urbano', 'linea_costa_urbano', 'ARC'], \
	['linea_costa.expshp__toponimo_aeroguia', 'linea_costa_toponimo_aeroguia', 'ARC'], \
	['linea_costa.expshp__toponimo_carta_nautica', 'linea_costa_toponimo_carta_nautica', 'ARC'], \
	['linea_costa.expshp__toponimo_ministerio', 'linea_costa_toponimo_ministerio', 'ARC'], \
	['linea_costa.expshp__toponimo_sigla', 'linea_costa_toponimo_sigla', 'ARC'], \
	['linea_costa.expshp__toponimo_ssl', 'linea_costa_toponimo_ssl', 'ARC'], \
	['linea_costa.expshp__costa_corta', 'linea_costa_costa_corta', 'ARC'], \
	['linea_costa.expshp__costa_erosion', 'linea_costa_costa_erosion', 'ARC'], \
	['linea_costa.expshp__costa_larga', 'linea_costa_costa_larga', 'ARC'] \
]

for i in shapefiles:
	sp.toShape('ssl', i[0], i[1], i[2], epsg, encoding, folder=shapeFolder, overwrite=True)

# Compress
com = path7z+' a shapes_linea_costa.7z shapes_linea_costa'
os.system(com)
